
html {
font-size: 16px;
}
  h1 h2 {
    font-family: cursive;
    }

}
header {
border-bottom: thick dotted #ff0000;
}

.class-list {
list-style-type: square;
}

}
.item {
border-style: dotted;
border-width: 5px;
}
.item even { background-color: grey;
}

.item odd {
background-color: black;
color: white;
:nth-child( <nth> [ of <selector># ]? )

}

#item1 {
font-size: 30;
}
#item2 { text-align: right;
}

ol {
padding: 10, 10, 10 ,10;
background-color: grey;
}

ul {
  padding: inherit;
  background-color: white;
}
ol ul :nth-child(2n){
  background-color: green;
}

.hover { text-decoration: none;}

a:hover {
background-color: yellow;
color: red;

}
